* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v39_25 {
  width: 100%;
  height: 1024px;
  background: rgba(249,249,250,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_28 {
  width: 288px;
  height: 64px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 120px;
  overflow: hidden;
}
.v39_29 {
  width: 336px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 278px;
  left: 143px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 77px;
  opacity: 1;
  text-align: left;
}
.how-it-works-link {
  width: 136px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 16px;
  left: 880px;
  font-family: Khula;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.community-link {
  width: 136px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 16px;
  left: 1032px;
  font-family: Khula;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.food_type_title {
  width: 592px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 323px;
  left: 120px;
  font-family: Khula;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.quantity-title {
  width: 592px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 325px;
  left: 576px;
  font-family: Khula;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.best-before-title {
  width: 592px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 513px;
  left: 120px;
  font-family: Khula;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.tags-title {
  width: 592px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 761px;
  left: 120px;
  font-family: Khula;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.page-title {
  width: 896px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 163px;
  left: 120px;
  font-family: Khula;
  font-weight: ExtraBold;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v39_44 {
  width: 16px;
  height: 16px;
  background: rgba(121,121,121,1);
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 125px;
}
.back-btn {
  width: 106px;
  color: rgba(121,121,121,1);
  position: absolute;
  top: 111px;
  left: 150px;
  font-family: Khula;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.v39_57 {
  width: 136px;
  height: 56px;
  background: url("../images/v39_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 576px;
  border: 1px solid rgba(121,121,121,1);
  overflow: hidden;
}
.v39_66 {
  width: 136px;
  height: 56px;
  background: rgba(208,208,208,1);
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 120px;
  border: 1px solid rgba(121,121,121,1);
  overflow: hidden;
}
.v39_69 {
  width: 136px;
  height: 56px;
  background: rgba(208,208,208,1);
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 272px;
  border: 1px solid rgba(121,121,121,1);
  overflow: hidden;
}
.v39_71 {
  width: 136px;
  height: 56px;
  background: rgba(208,208,208,1);
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 424px;
  border: 1px solid rgba(121,121,121,1);
  overflow: hidden;
}
.food-type-entry {
  width: 360px;
  color: rgba(121,121,121,1);
  position: absolute;
  top: 403px;
  left: 136px;
  font-family: Khula;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v42_2 {
  width: 592px;
  height: 56px;
  background: url("../images/v42_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 902px;
  left: 120px;
  border: 1px solid rgba(121,121,121,1);
  overflow: hidden;
}
.tag-entry {
  width: 260px;
  color: rgba(121,121,121,1);
  position: absolute;
  top: 920px;
  left: 136px;
  font-family: Khula;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v39_58 {
  width: 69px;
  color: rgba(121,121,121,1);
  position: absolute;
  top: 402px;
  left: 595px;
  font-family: Khula;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v39_67 {
  width: 69px;
  color: rgba(121,121,121,1);
  position: absolute;
  top: 590px;
  left: 139px;
  font-family: Khula;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v39_70 {
  width: 69px;
  color: rgba(121,121,121,1);
  position: absolute;
  top: 590px;
  left: 291px;
  font-family: Khula;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v39_72 {
  width: 69px;
  color: rgba(121,121,121,1);
  position: absolute;
  top: 590px;
  left: 443px;
  font-family: Khula;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v39_59 {
  width: 32px;
  height: 56px;
  background: rgba(121,121,121,1);
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 680px;
  border: 1px solid rgba(121,121,121,1);
  overflow: hidden;
}
.v39_62 {
  width: 378px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 654px;
  left: 151px;
  font-family: Khula;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v39_63 {
  width: 18px;
  height: 18px;
  background: rgba(34,34,34,1);
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 120px;
}
.v39_64 {
  width: 14px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 658px;
  left: 122px;
}
.v42_1 {
  width: 592px;
  color: rgba(34,34,34,1);
  position: absolute;
  top: 830px;
  left: 120px;
  font-family: Khula;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v42_36 {
  width: 136px;
  color: rgba(243,106,43,1);
  position: absolute;
  top: 16px;
  left: 1184px;
  font-family: Khula;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
